* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.55%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* ---------- Nav-section ---------- */

.navbar {
    padding: 10px 7%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    background-color: #fff; 
}

.navbar img {
    width: 100px;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.6rem;
}

.nav-links a {
    color: black;
    transition: 0.1s;
}

.nav-links a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #fac031;
    display: block;
    transition: 0.3s linear;
}

.nav-links a:hover::after {
    color: #fac031;
    width: 100%;
}

.nav-links a:hover {
    color: #fac031;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.3s;
}

.icons i:hover {
    color: #fac031;
}

/* ---------- Hero-section ---------- */
#hero-section{
    padding: 120px 8% 0px;
}

.hero-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hero-1 h1 {
    font-size: 5.4rem;
    font-weight: 700;
    letter-spacing: .1rem;
}

.hero-1 h1 span {
    color: #fac031;
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
    font-weight: bolder;
}

.hero-1 p {
    font-size: 1.6rem;
}

.hero-1 button {
    background-color: #fac031;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.8rem;
    padding: 10px 28px;
}
.hero-2{
    padding-left: 80px;
}
.hero-2 img {
    width: 40vw;
}

/* ------- About-section -------  */
#about-section {
    padding-block: 100px 0px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-1 {
    width: 49%;
}

.about-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 40vw;
    padding-bottom: 50px;
}

.about-2 h2 {
    font-size: 6rem;
    font-weight: 600;
}

.about-2 h2 span {
    font-family: "Dancing Script", cursive;
    color: #fac031;
    font-size: 7rem;
    font-weight: 700;
    margin-right: 15px;
}

.about-2 h3 {
    font-size: 3rem;
    font-weight: 600;
}

.about-2 p {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.about-2 button {
    background-color: #fac031;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 1.7rem;
    padding: 10px 26px;
}

/* -----------Menu-section-------------- */
#menu-section {
    padding: 80px 3%;
}

.heading {
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.heading span {
    color: #fac031;
    font-family: "Dancing Script", cursive;
    font-size: 8rem;
    font-weight: 700;
    margin-left: 5px;
}

.menu-area {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.menu-card {
    width: 22%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menu-img{
    overflow: hidden;
    margin-bottom: 10px;
}

.menu-card img {
    width: 100%;
    transition: .3s;
}

.menu-card:hover img {
    transform: scale(1.3);
}
.menu-card h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fac031;
}

.menu-card p {
    font-size: 1.5rem;
    margin-block: 8px;
}

.menu-card h3 {
    font-weight: 600;
}

.menu-icon {
    color: #fac031;
    font-size: 1.6rem;
    margin-bottom: 8px;
}

.menu-card button {
    background-color: black;
    color: #fff;
    font-size: 1.5rem;
    padding: 6px 45px 7px;
}

/* ------------ Gallery-section -------------- */
#gallery-section {
    padding: 90px 3% 70px;
}

.gallery-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallery-card img {
    width: 100%;
    transition: 0.4s;
}

.gallery-card:hover img {
    opacity: 0.4;
}

.gallery-card h3 {
    position: absolute;
    font-size: 3rem;
    margin-bottom: 100px;
    color: #fac031;
    opacity: 0;
    transition: 0.3s;
}

.gallery-card:hover h3 {
    opacity: 1
}

.gallery-card p {
    position: absolute;
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    max-width: 25%;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
}

.gallery-card:hover p {
    opacity: 1
}

.gallery-card button {
    position: absolute;
    margin-top: 150px;
    background-color: #fac031;
    font-size: 1.6rem;
    border: none;
    padding: 8px 24px;
    opacity: 0;
    transition: 0.3s;
}

.gallery-card:hover button {
    opacity: 1;
}

/* -------------- Review-section --------------- */
#review-section {
    padding: 80px 3%;
}

#review-section h1{
    margin-bottom: 120px;
}
.review-area {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.review-card {
    width: 22%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0px;
    border-radius: 8px;
    transition: 0.4s;
}
.card-top{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.card-top img {
    border: 5px solid rgb(189, 181, 181);
    border-radius: 50%;
    width: 170px;
    transition: 0.4s;
}
.review-card:hover .card-top img{
    transform: translateY(-70px);
}
.card-top h2 {
    font-weight: 600;
    font-size: 2.5rem;
    transition: 0.4s;
}
.review-card:hover .card-top h2{
    transform: translateY(-60px);
}
.card-bottom p {
    font-size: 1.5rem;
}
.menu-icon{
    transition: 0.4s;
}
.review-card:hover .menu-icon{
    transform: translateY(-50px);
}
.menu-social{
    transition: 0.4s;
    opacity: 0;
}
.menu-social i{
    font-size: 1.5rem;
    margin: 0px 3px;
}
.review-card:hover:hover .menu-social{
    transform: translateY(-30px);
    opacity: 1;
}

/* ----------Order-section-------- */
#order-section {
    padding: 100px 0% 20px;
    background-image: url(image/bg2.jpg);
    background-repeat: no-repeat;
    background-position: top 70px center;
}

#order-section h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 20px;
}

#order-section h1 span {
    color: #fac031;
    font-family: "Dancing Script", cursive;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.order-area {
    display: flex;
    gap: 60px;
}

.order-1 {
    width: 39vw;
    margin-left: 100px;
}

.order-1 img {
    width: 100%;
}

.order-2 {
    width: 61vw;
    display: flex;
    justify-content: center;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-area {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-area p {
    font-size: 1.6rem;
    margin-bottom: 0px;
    font-weight: 500;
}

.input-area input {
    width: 31rem;
    padding-block: 7px;
    padding-left: 10px;
    font-size: 1.3rem;
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(204, 204, 204);
    outline-color: #fac031;
}

.input-left,
.input-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-section button {
    background-color: #fac031;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.6rem;
    padding: 8px 25px;
}

/* ----------Team-section----------- */
#team-section {
    padding: 0px 5% 150px;
    background-image: url(image/bg1.jpg);
    background-size: cover;
    background-position: top -50px center;
}

.team-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 130px;
}

.team-area .profile {
    width: 27rem;
    height: 27rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
    padding: 30px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-area .profile:hover {
    border-radius: 20px;
    height: 330px;
}

.team-area .profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
    transition: .4s;
}
.team-area .profile:hover img {
    border-radius: 25px;
    margin-top: -120px;
    width: 90%;
    height: 90%;
}
.profile .info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 6px;
    position: relative;
    top: -120px;
    opacity: 0;
    transition: .4s;
}
.profile:hover .info{
    position:relative;
    top: 20px;
    opacity: 1;
}
.profile .info h2{
    font-size: 2.4rem;
    font-weight: 700;
    color: #fac031;
}
.profile .info p{
    font-size: 1.5rem;
} 
.team-icon{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
}

/* -------------Footer-section--------------- */

#footer-section {
    padding: 40px 3% 10px;
    background: rgb(238, 238, 238);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
}

.footer-tag {
    text-align: center;
}

.footer-tag h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-tag p {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.footer-icon i {
    font-size: 16px;
}

.footer-icon i:hover {
    color: #fac031;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    font-size: 1.6rem;
    font-weight: 500;
}

.footer-bottom p span {
    margin-left: 10px;
    color: #fac031;
}